---
import Layout from "../../layouts/Layout.astro";
import VidPlayer from "../../components/VidPlayer.astro";
import BackArrow from "../../components/BackArrow.astro";
---

<Layout title="AlphaTree">
	<main>
		<BackArrow href="/vid/videogallery" />
		<VidPlayer src="https://www.youtube.com/embed/JmVcGGM9_Nc" />
	</main>
</Layout>
<iframe width="1280" height="744" 

