---

import Layout from '../../layouts/Layout.astro';
import VidPlayer from '../../components/VidPlayer.astro';
import BackArrow from '../../components/BackArrow.astro';

---

<Layout title="AlphaTree">
	<main>
		<BackArrow href="/ats/vid/videogallery/index.html" />
		<VidPlayer src="https://www.youtube.com/embed/wI5ZR78-aKM" />
	</main>
</Layout>
