---

import Layout from '../../layouts/Layout.astro';
import VidPlayer from '../../components/VidPlayer.astro';
import BackArrow from '../../components/BackArrow.astro';

---

<Layout title="TightSpaces">
	<main>
		<BackArrow href="/vid/videogallery"/>
		<VidPlayer src="https://www.youtube.com/embed/MAhLq6x6jOM" />
	</main>
</Layout>