---

import Layout from '../../layouts/Layout.astro';
import VidPlayer from '../../components/VidPlayer.astro';
import BackArrow from '../../components/BackArrow.astro';

---

<Layout title="WindDamagedCedar">
	<main>
		<BackArrow href="/vid/videogallery/index.html" />
		<VidPlayer src="https://www.youtube.com/embed/9rvT2BEYbf8" />
	</main>
</Layout>