---
import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
import VidGroup1 from "../components/VidGroup1.astro";
import Message from "../components/Message.astro";
import CardGroup1 from "../components/CardGroup1.astro";
import CardGroup2 from "../components/CardGroup2.astro";
import CardGroup3 from "../components/CardGroup3.astro";
import PhoneNumber from "../components/PhoneNumber.astro";
import MainMessage from "../components/MainMessage.astro";
---

<Layout title="AlphaTree">
	<main class="m-auto p-8 max-w-screen-lg">
		<Banner />

		<PhoneNumber />

		<Message />

		<CardGroup1 />

		<VidGroup1 />

		<CardGroup2 />

		<MainMessage />

		<CardGroup3 />

		<PhoneNumber />
	</main>
</Layout>
