---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Thank You">
    <div class="h-screen flex items-center justify-center">
        <ul>
            <h2 class="m-5">
                Thank you for choosing <a class="text-blue-600" href="/"
                    >Alpha Tree Service</a>
            </h2>
        </ul>
    </div>
</Layout>
