---
import FiveStars from "./FiveStars.astro";
---

<ul role="list" class="link-card-grid">
    <div
        role="listitem"
        class="mx-auto block box-content h-fit xxsm:w-fit w-9/12 p-4 border-2 border-red-800 mb-5 rounded-lg bg-sky-600 italic"
    >
        <FiveStars />
        <p
            class="xxsm:text-sm xsm:text-md text-lg italic text-white"
            role="listitem"
        >
            I’m excited to share my experience, they excepted the job when no
            one else would. We had several local tree service companies come out
            and declined to remove them because the risk and difficulty . We had
            4 very risky tall fir trees that were hanging over our house , up
            against a fence which adjoined the Neighboring house blocked in by a
            shed and covered in Ivy vines the size of trees from the ground to
            the top! They showed up on time as planned and shortly after
            introductions the crew was geared up and climbing and cutting. We
            hung out with the crew during the whole process and had a great time
            learning, watching and laughing through the whole process. I did and
            will recommend this tree service company to anyone needing trees
            removed. Professional, experienced, fearless and affordable!"
        </p>
        <p class="float-right text-white mb-2" role="listitem">- Brenda B</p>
        <br />
        <center><a href="/reviewspage/index.html" role="listitem">more reviews</a></center>
    </div>
</ul>
