---
---

<div
    class="mx-auto block box-content h-fit xsm:w-full w-9/12 xsm:p-px p-4 border-2 border-red-800 mb-5 rounded-lg bg-sky-600 italic"
>
    <p
        class="h-fit xxsm:text-sm xsm:text-md text-lg italic xxsm:my-0.5 xxsm:mx-1 my-5 mx-6 bg-sky-600 text-white px-4 py-4 rounded-lg"
    >
        At Alpha Tree Service, we specialize in removing trees from some of the
        tightest areas around homes in Washington. We have the tools to get your
        job done safely, with more than 15 year of experience in the tree
        industry. The weather can be unpredictable so we are here to help
        whether the tree has fallen on your home or in your yard. We will leave
        your property as we found it or better! We look forward to helping you
        with all your tree care needs.
    </p>
    <p class="float-right xxsm:text-sm xsm:text-md text-lg text-white">
        - Curtis McBride
    </p>
    <br />
</div>
