---
import V1 from "../images/logdrop_overlay.avif"
import V2 from "../images/smallrigout_overlay.avif"
---

<ul role="list" class="grid xxsm:grid-cols-1 xsm:grid-cols-1 sm:grid-cols-2 md:grid-cols2 lg:grid-cols-2 grid-cols-2 gap-8 pb-5">
    <li>
        <a href="/vid/logdropvideopage">
            <img class="xxsm:w-50 xsm:w-70 sm:w-48 w-60 max-w-xs mx-auto rounded-lg" src={V1} alt="Log drop vid">
        </a>
    </li>
    <li>
        <a href="/vid/smalltopoutvidpage">
            <img class="xxsm:w-50 xsm:w-70 sm:w-48 w-60 max-w-xs mx-auto rounded-lg" src={V2} alt="Small Top Out Vid">
        </a>
    </li>
</ul>